/* ********** ANIMACIONES Y TRANSICIONES ********** */
/* MAIN FORMULARIO REGISTER */
#botonReg:hover{
    color: white;
    background-color: rgba(7, 11,128,1);
    box-shadow: 4px 4px 20px 0px rgba(7, 11,128,.5);
}