@media screen and (max-width: 615px){


.secciongeneral{
    width: 125%;
    padding: 2rem;
}

.seccion-imagen{
    width: 110%;
    
}

.imgdetalle{
    width: 90%;
}
.nombreproduct{
    font-size: 1rem;

}
.descripcion-producto{
    font-size: 0.7rem;
    font-weight: bold;

}
.nombre-descripcion{
    margin-top: 1rem;
    width: 120%;
}


.precio{
    color: #9D1B6F;;
    background-color: white;
    padding: 0.5px;
border: #9D1B6F solid 0.5px;
}
.editar{font-size: 1.5rem;
    margin-left: 10px;


}
.borrar{font-size: 1.5rem;
 

}


}