/* **************                   MEDIA QUERIES   MAIN          ************** */

/*  **************************  */
/*  ********* TABLET *********  */
/*  **************************  */
@media screen and (min-width: 700px){
    /* MAIN HOME Tablet */

    .bikeof {
        width: 40%;
        margin: 15px;
        text-align: center;
        flex-grow: 1;
    }
    .heart1{
        font-size: 5vw;
        right:2vw;
    }
    
}
/*  ***************************  */
/*  ********* DESKTOP *********  */
/*  ***************************  */

@media screen and (min-width:992px){
    /* MAIN HOME Desktop */
    .bikeof {
        width: 20%;
        margin: 12px;
        text-align: center;
        flex-grow: 1;
    }
    .heart1{
        font-size: 2.5vw;
        right:1vw;
    }
    .precioff{
        display: flex;
        justify-content: center;
    }
}