*{
    margin: 0;
    border: 0;
    padding: 0;
    font-style: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/* **************   ESTILOS EN HEADER Y ELEMENTOS QUE LO COMPONEN   ************** */
header{display: flex;
    background-color:#070B80;
    font-family: kalam;
    font-size: 11px;
    padding: 5px;
    width: 100vw;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center
}

.encabezado{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; 
    width: 100%;
}

#logo img{
    width: 90%;
    height: 5rem;
    margin: 5px;
}

#opciones2{
    display: flex;
}

#buscar{
    text-align: center;   
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;  
    align-content: center;
    margin-left: 21px;
    margin-right: 21px;
}

#barraBuscar{
    border-radius: 1rem 0 0 1rem;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 1rem;
    width: 80%;
    height: 2rem;
}

#lupa{
    border-radius: 0 1rem 1rem 0;
    height: 2rem;
    background-color: #c0c0c0;
    color: #070B80;
    width: 20%;
    margin-top: 8px;
}

.iconoss {
    color: white;
    background-color: #070B80;
    font-size: 30px;
    margin-right: 1rem;
    margin-top: 8px;
    margin-left: 0.5rem;
    transition: all .5s;
}


