#maincreate{display: flex;
    background-color: rgb(213, 213, 213); display: flex;
    width: 85vw;
    box-shadow: 0px 0px 8px 0px rgba(7, 11, 128, .8);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    justify-content: center;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    
}

.logocreate{
    height: 60%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}



.formcreacion{ 
width: 70%;
height: 10%;
margin-top: 1rem;
background-color: snow;
color: black;
margin-left: 1rem;
padding: 1rem;
border-radius: 6px;
font-family: 'Kalam', cursiva;}

#botoncrear{width: 50%;
height: 4rem;
border-radius: 1rem;
background-color:rgb(11, 168, 168);
color: rgb(7, 11, 128);
font-family: 'Kalam', cursiva;
margin-top: 1rem;
margin-bottom: 2rem;
font-size: 20px;
transition: all .5s;
font-weight: bold;
}
.imagencreacion{width:70%;
height: 10%;
text-decoration: none;
margin-top: 5px;
margin-bottom: 2rem;
background-color:rgb(7, 11, 128);
color: snow;
padding: 1rem;
border-radius: 1rem;
font-size: 15px;
font-family: 'Kalam', cursiva;}

.label{font-size: 20px;
    font-family: 'Kalam', cursiva;
    color: #9D1B6F;
    margin-top: 1rem;
    font-weight: bold;
    
}
#botoncrear:hover{  color: white;
    background-color: rgba(7, 11,128,1);
    box-shadow: 4px 4px 20px 0px rgba(7, 11,128,.5);}
    
    
