#maindetalle{
    color: #070B80;
    text-align: center;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 1rem;
    background-color: rgb(192, 192, 192);
    
    justify-content: center;
    border-radius: 2rem;
    
    
    text-align: center;}

    .imgdetalle{width: 90%;
    border: #070B80 solid 2px;
margin-top: 2rem;
border-radius: 1rem;}

    #nombreproduct{font-size: 2rem;
    font-family: 'relaway';
margin-top: 1rem;
color: #070B80;}
#secciondetalle{display: flex;
flex-direction: column;
flex-wrap: wrap;}
