main{
    font-size: 16px;
    color: #070B80;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 100vw;
}

#offers{
    margin: 10px;
    padding: 20px;
    width: 100%;
    border-top: #070B80 solid 3px;
    width: 80%;
}

.bikeof img{
    width: 80%;
}

.bikeof{
    box-shadow: 0px 0px 10px 0px rgba(11, 168, 168,.8);
    text-align: center;
    font-family:'raleway';
    display: inline-block;
    background-color:white;
    border: rgba(11, 168, 168,.4) solid 1px;
    width: 70%;
    margin-bottom: 10px;
    transition: all .5s;
    border-radius: 5px;
    position: relative;
    transition: all .5s;
    padding: 10px;
}

.ganga{  
    padding: 15px;
    border-top: rgba(11, 168, 168,.4) solid 1px;
    display: flex;
    flex-flow:  column wrap;
    justify-content: space-between;
    color: blue;
 } 

 .heart1{
    text-align: center;
    color: #9D1B6F;
    font-size: 6.5vw;
    display: flex;
    padding: 10px;
    width: 3vh;
    height: 3vh;
    justify-content: center;
    position: absolute;
    top: 1px;
    right:2vw;
    transform: rotate(0deg);
    transition: all .3s;
 }

#carousel{
    width: 90vw;
    height: 90vw;
    overflow: hidden; 
    position: relative;
    background-color: black;
    border-radius: 0.5rem;
    border: black solid 3px;
    margin-bottom: 1rem;
    
}

#track {
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 950ms;
    /*display: flex;
    flex-flow: row nowrap;
    animation: slider 5s 100ms infinite ease-in-out; */
}

.slide {
    width: 100vw;
    height: 100%;
    position: absolute;
    list-style: none;
}
/*
@keyframes slider{
0%{
    transform: translateX(0%)
}
25%{
    transform: translateX(0%)
}
26%{
    transform: translateX(100vw)
}
45%{
    transform: translateX(100vw)
}
50%{
    transform: translateX(200vw)
}
95%{
    transform: translateX(200vw)
}
100%{
    transform: translateX(0%)
}

}*/

#btns {
    position: absolute;
    bottom: 50%;
    font-size: 21px;
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    width: 100%;
    height: 2rem;
    padding: 1rem;
    
}

#btns a {
    background-color:  rgba(192, 192, 192, 30%);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: snow;
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    transition: all 1s
}

#btns a:hover {
    background-color:  rgba(192, 192, 192, 90%);
    color: rgba(7, 11, 128, 80%)
}


picture,img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}