/*Selector universal*/
*{
    margin: 0;
    border: 0;
    padding: 0;
    font-style: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/* **************   ESTILOS EN HEADER Y ELEMENTOS QUE LO COMPONEN   ************** */
header{
    background-color:#070B80;
    font-family: kalam;
    font-size: 11px;
    padding: 11px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.encabezado{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;  
    width: 100%;
}

#logo img{
    width: 12vh;
    margin: 6px;
    padding: 3px;
}

#opciones1{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    order: 4;
    width: 90%;
}

#opciones1 a{
    background-color: white;
    color:#070B80;
    border-radius: 8px;
    margin: 5px 8px;
    padding: 2px 25px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 12vw;
    align-self: center;
}

#buscar{
    text-align: center;   
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;  
    align-content: center;
}

#barraBuscar{
    border-radius: 3px;
    margin: 6px;
    padding: 3px;
    width: 30vw;
    height: 2rem;
}

#lupa{
    border-radius: 3px;
    margin: 6px;
    padding: 3px;
    position: absolute;
    right: -3px;
    height: 2rem;
    background-color: #c0c0c0;
    color: #070B80;
    font-size: 16px;
    transition: all .3s;
    transform: rotate(0deg);

}

#opciones2{
    display: flex;
    flex-flow: row wrap;
    align-content: center; 
    justify-content: center;
    width: 20%
}

#opciones2 a{
    margin: 5px;
    padding: 2px;
    transition: all .3s;
}

#tuCuenta, #canasta,#create{
    color: white;
    background-color: #070B80;
    font-size: 20px;
    transition: all .3s;
}




