main{
	    font-size: 16px;
	    color: #070B80;
	    text-align: center;
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: center;
	    padding: 15px;
	    margin-bottom: 20px;
	    text-align: center;
	}
	.contenedor-padre{
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    text-align: center;
	    box-sizing: border-box;
	    text-align: center;
	}
	
	.contenedor-detalle-producto-1{
	    box-shadow: 0px 0px 10px 0px rgba(7, 11, 128,.8);
	    border-radius: 5px;
	    flex-direction: row;
	    width: 80vw;
	    background: #C0C0C0;
	    justify-content: center;
	    position: relative;
	    margin: 10px;
	}
	
	.contenedor-detalle-producto-2{
	    flex-direction: column;
	    background-color: rgba(7, 11, 128,.21);
	    border-radius: 4px;
	    display: flex;
	    width: 80vw;
	    justify-content: center;
	    align-items: center;
	    text-align: center;
	    padding-bottom: 20px;
	}
	
	.productoDetalle1{
	    display: flex;
	    flex-flow: row wrap;
	    justify-content: center;
	}
	
	.ingresotexto0{
	    color: rgba(7, 11, 128,.8);
	    font-family: 'raleway';
	    margin: auto;
	    padding: 30px 20px;
	    border-radius: 5px;
	    display: flex;
	    flex-wrap: wrap;
	    flex-direction: row;
	    justify-content: center;
	    font-size: larger;
	}
	
	.heart3{
	    text-align: center;
	    color:#666;
	    font-size: 4vw;
	    display: flex;
	    padding: 10px;
	    width: 3vh;
	    height: 3vh;
	    justify-content: center;
	    position: absolute;
	    top: 2px;
	    right:2vw;
	    transition: all 1s;
	}
	.heart3:hover{
	    color:#9D1B6F
	}
	.minis{ 
	    display: flex;
	    flex-flow: row wrap;
	    justify-content: center;
	}
	
	.mini1, .mini2, .mini3{
	    margin: 5px;
	    padding: 2px;
	    width: 20%;
	}
	
	.stars{
	    margin: 5px;
	    padding: 3px;
	    font-size: 1.5rem;
	    background: rgba(7, 11, 128,.8);
	    border-radius: 8px;
	    margin-bottom: 15px;
	    display: flex;
	    flex-flow: row wrap;
	    justify-content:center;
	    align-items: center;
	}
	
	.star1, .star2, .star3, .star4, .star5{
	    font-size: 0.8rem;
	    color: #666;
	    padding: 1px 0.2rem;
	    transition: all 1s;
	}
	.star1:hover, .star2:hover, .star3:hover, .star4:hover, .star5:hover{
	    color: gold;
	}
	.ingresotexto1{
	    margin: 30px 20px 5px 20px;
	    padding: 2px;
	    font-size: larger;
	}
	
	.ingresotexto2{
	    margin: 6px 12px;
	    padding: 3px;
	    font-size: 13px;
	}
	
	.ingresotexto1 b{
	    color: rgb(7, 11, 128);
	    font-family: 'raleway';
	}
	
	.ingresotexto2 b{
	    color: rgba(157, 27, 111,1);
	    font-family: 'raleway';
	}
	
	.ingresotexto3{
	    color: rgb(7, 11, 128);
	    font-family: 'raleway';
	    margin-top: 2rem;
	    margin-bottom: 2rem;
	    border-radius: 5px;
	    padding-left: 5px;
	    padding-right: 5px;
	}
	
	.parrafoDescrip1 {
	    display: flex;
	    flex-flow: column wrap;
	    justify-content: center;
	    margin: 5px;
	    padding: 5px;
	    font-family: 'raleway';
	    color: rgba(7, 11, 128,.8);
	    font-size: 14px;
	}
	
	.parrafoDescrip2 {
	    display: flex;
	    flex-flow: column wrap;
	    justify-content: center;
	    margin: 5px 5px 20px 5px;
	    padding: 5px;
	    font-family: 'raleway';
	    color: rgba(7, 11, 128,.8);
	    font-size: 14px;    
	}
	
	.ingresotexto4{
	    font-family: 'raleway';
	    margin-top: 1rem;
	    margin-bottom: 2rem;
	    border-radius: 5px;
	    font-size: 15px;
	    padding-left: 5px;
	    padding-right: 5px;
	}
	
	.garantiaDescrip{
	    display: flex;
	    flex-flow: column wrap;
	    justify-content: center;
	    margin: 5px 5px 20px 5px;
	    padding: 5px;
	    font-family: 'raleway';
	    color: rgba(7, 11, 128,.8);
	    font-size: 14px;
	}
	
	.ingresotexto5{
	    width: 6vw;
	    height: 1rem;
	    color: rgb(192, 192, 192);
	    font-family: 'raleway';
	    margin-top: 2rem;
	    border-radius: 5px;
	    font-size: 15px;
	    padding-left: 5px;
	    padding-right: 5px;
	}
	
	.ingresotexto6{
	    width: 6vw;
	    height: 1rem;
	    font-family: 'raleway';
	    margin-top: 0.5rem;
	    margin-bottom: 2rem;
	    border-radius: 5px;
	    font-size: 15px;
	    padding-left: 5px;
	    padding-right: 5px;
	}
	
	.detalle-del-poducto-2-1{
	  margin-bottom: 20px;
	}
	
	.detalle-del-poducto-2-2{
	    margin: 10px;
	    background: #C0C0C0;
	    box-shadow: 0px 0px 10px 0px rgba(7, 11, 128,.8);
	    border-radius: 5px;
	    padding: 5px;
	}
	.detalle-del-poducto-2-3{
	    margin: 10px;
	    background-color: #C0C0C0;
	    box-shadow: 0px 0px 10px 0px rgba(7, 11, 128,.8);
	    border-radius: 5px;
	    padding: 5px;
	
	}
	
	.contenedor-detalle-producto-1 img{
	    width: 92%;
	    text-align: center;
	    border-radius: 5px;
	    box-shadow: 0px 0px 10px 0px rgba(7, 11, 128,.6);
	}
	
	.detalle-del-poducto-2-2 p{
	    font-weight: bold;
	    font-family: 'raleway';
	}
	
	.detalle-del-poducto-2-3 p{
	    font-weight: bold;
	    font-family: 'raleway';
	}
	
	.sizeBike ,.cantidadesCar, .optionColor{
	    background-color: rgba(11, 168, 168,.3);
	    color: rgb(157, 27, 11);
	    border-radius: 1rem;
	    border: solid 1px rgba(11, 168, 168,.8);
	}
	
	.boton-canasta{
	    width: 15vw;
	    margin-left: 20px;
	    margin-top: 1.5rem;
	    margin-bottom: 1.5rem;
	    height: 3rem;
	    font-family: 'Kalam';
	    font-weight: bold;
	    background-color: rgb(11, 168, 168);
	    color: rgb(7, 11, 128);
	    border-radius: 40rem;
	    font-size: .8rem;
	    transition: all .5s;
	}




.nombre-descripcion{display: flex;
    width: 95%;
    justify-content: center;
    flex-flow: row wrap;
    background-color: rgb(201, 201, 201);
    margin-top: 3rem;
    border-radius: 12px;
    padding: 1.5rem;
    
    

}

.nombreproduct {
    font-size: 2rem;
    font-family: 'relaway';
    margin-top: 1rem;
    color: #070B80;
    border-bottom:#9D1B6F 1.5px solid;
    padding-bottom: 1rem;
}
.descripcion-producto{
    font-size: 1.2rem;
    margin-top: 1rem;
   
}
.precio{
    color: #9D1B6F;;
    background-color: white;
    padding: 3px;
border: #9D1B6F solid 1px;
border-radius: 5px;

}
.btnsAdmin{
    display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.editar{

    font-size: 1.5rem;
    margin-left: 8rem;
    color: #070B80; ;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: white;
    transition: all 0.5s;

}
.borrar{
    font-size: 1.5rem;
    padding: 0.5rem;
    color: #9D1B6F;
    background-color: white;
    border-radius: 5px;
    transition: all 0.5s;

}

.borrar:hover{
    background-color: #9D1B6F;
    color: white;
}

.editar:hover{
    background-color: #070B80;
    color: white;
}