<!DOCTYPE html>
<html lang="en">
<!--    **************************************************  HEAD  ****************************************************  -->
<!--head-->
<%- include('./includes/head') %>
<!--/head-->
<!--    **************************************************  BODY   **************************************************** -->
<body>
<!--    **************************************************  HEADER  ************************************************** --> 
    <!--header-->
    <%- include('./includes/header') %>
    <!--/header-->
    <!--    **********************************************  MAIN  **************************************************** --> 
    <main class="seccioncarrito">
        <section id="carrito1">
            <nav id="titulocarrito">CARRITO DE COMPRAS</nav>
            <img class="logocarrito" src="/images/logo_go_bike_cart_y Log.png" alt="logo de gobike">
        </section>
        <section class="carDatos">
            <section id="carrito2">
                <article class="cajadearticulos">
                    <div class="producto">producto</div>
                    <figure><img class=" imagenescarrito" src="/images/urbana-1.png" alt="imagen bicicleta"></figure>
                    <section class="descripcion">
                        <nav class="descrip">rodado modelo</nav>
                        <nav class="descripnum">%OFF $12345</nav>
                    </section>
                    <section>
                        <form action="carrito.html" method="get">
                            <select class="cantidad" id="opciones" name="opciones">
                                <option class="opcion" value="1">1</option>
                                <option class="opcion" value="2">2</option>
                                <option class="opcion" value="3">3</option>
                                <option class="opcion" value="4">4</option>
                                <option class="opcion" value="5">5</option>
                            </select>
                            <a href="/carrito">
                                <button class="borrar" type="reset" name="borrar">
                                    <i class="fa-regular fa-trash-can"></i>
                                </button>
                            </a>
                        </form>
                    </section>
                </article>
                <article class="cajadearticulos">
                    <nav class="producto">producto</nav>
                    <figure><img class=" imagenescarrito" src="/images/mtb-1.png" alt="imagen bicicleta"></figure>
                    <section class="descripcion">
                        <nav class="descrip">rodado modelo</nav>
                        <nav class="descripnum">%OFF $12345</nav>
                    </section>
                    <section>
                        <form action="carrito.html" method="get">
                            <select class="cantidad" id="opciones" name="opciones">
                                <option class="opcion" value="1">1</option>
                                <option class="opcion" value="2">2</option>
                                <option class="opcion" value="3">3</option>
                                <option class="opcion" value="4">4</option>
                                <option class="opcion" value="5">5</option>
                            </select>
                            <a href="/carrito">
                                <button class="borrar" type="reset" name="borrar">
                                    <i class="fa-regular fa-trash-can"></i>
                                </button>
                            </a>
                        </form>
                    </section>
                </article>
                <article class="cajadearticulos">
                    <nav class="producto">producto</nav>
                    <figure><img class=" imagenescarrito" src="/images/ruta-2.png" alt="imagen bicicleta"></figure>
                    <section class="descripcion">
                        <nav class="descrip">rodado modelo</nav>
                        <nav class="descripnum">%OFF $12345</nav>
                    </section>
                    <section>
                        <form action="carrito.html" method="get">
                        <select class="cantidad" id="opciones" name="opciones">
                            <option class="opcion" value="1">1</option>
                            <option class="opcion" value="2">2</option>
                            <option class="opcion" value="3">3</option>
                            <option class="opcion" value="4">4</option>
                            <option class="opcion" value="5">5</option>
                        </select>
                        <a href="/carrito"><button class="borrar" type="reset" name="borrar">
                            <i class="fa-regular fa-trash-can"></i>
                        </button>
                            </a>
                        </form>
                    </section>
                </article>
            </section>
            <section id="carrito3">
                <nav class="especial"><b>Producto</b></nav>
                <nav><b>cantidad</b></nav>
                <nav><b>Precio</b></nav>
            </section>
            <section class="factura">
                <nav class="diseñoletra">Producto a</nav>
                <nav class="num">1</nav>
                <nav class="num">12345</nav>
            </section>
            <section class="factura">
                <nav class="diseñoletra">Producto b</nav>
                <nav class="num">1</nav>
                <nav class="num">12345</nav>
            </section>
            <section class="factura">
                <nav class="diseñoletra">Producto c</nav>
                <nav class="num">1</nav>
                <nav class="num">12345</nav>
            </section>
            <article id="cajadefactura">
                <section class="total">
                    <nav class="diseñoletra"><b>Subtotal</b></nav>
                    <nav class="num">12345</nav>
                </section>
                <section class="total">
                    <nav class="diseñoletra">dcto%</nav>
                    <nav class="num">5</nav>

                </section>
                <section class="total">
                    <nav class="diseñoletra">tax%</nav>
                    <nav class="num">19</nav>
                </section>
                <section class="valor">
                    <nav class="diseñoletra"><b>TOTAL</b></nav>
                    <nav class="precioTotal">5000</nav>
                </section>
                <a class="botonCar" href="/"><button class="botoncomprar" type="submit" value="comprar">Comprar</button>
                </a>
            </article>
    </section>
    </main>
    <!--    **************************************************  CHAT WHATSAPP   ********************************************  -->
    <%- include('./includes/bodywhapp') %>
    <!--    **************************************************  FOOTER   ****************************************************  --> 
     <!--footer-->
     <%- include('./includes/footer') %>
     <!--/footer-->
</body>
</html>