<!DOCTYPE html>
<html lang="en">
<!--    **************************************************   HEAD  ****************************************************    -->
<!--head-->
<%- include('./includes/head.ejs') %>
<!--/head-->
<!--    **************************************************   BODY   ****************************************************    -->
<body>
    <!--    **************************************************   HEADER   ****************************************************    -->
    <!--header-->
    <%- include('./includes/header') %>
    <!--/header-->
    <!--    **************************************************   MAIN   ****************************************************    -->
    <main class="ofertas">         
        <!--SECCIÓN PRINCIPAL HOME OFERTAS-->
        <h1 id="offers">  ¡¡ GRANDES OFERTAS!!  </h1>
        <article class="bikeof">
            <a href="./products"><figure><img src="/images/products/urbana-4.png" alt ="BiKe ruta en oferta"></figure></a>
            <section class="ganga">
                <form method="get"><i class="fa-solid fa-heart heart1" ></i></form>
                <a class="precioff">$2500.33</a>
                <a class="descuentazo">-20%</a>
                <a class="referencia">Referencia</a>
            </section>
        </article>
        <article class="bikeof">
            <a href="/products"><figure><img src="/images/products/bmx-4.png" alt ="BiKe ruta en oferta"></figure></a>
            <section class="ganga">                    
                <form method="get"><i class="fa-solid fa-heart heart1" ></i></form>
                <a class="precioff">$2500.33</a>
                <a class="descuentazo">-20%</a>
                <a class="referencia">Referencia</a>
            </section>
        </article>
        <article class="bikeof">
           <a href="/products"><figure><img src="/images/products/mtb-4.png" alt ="BiKe ruta en oferta"></figure></a>
           <section class="ganga">
                <form method="get"><i class="fa-solid fa-heart heart1" ></i></form>
                <a class="precioff">$2500.33</a>
                <a class="descuentazo">-20%</a>
                <a class="referencia">Referencia</a>
            </section>
        </article>
        <article class="bikeof">
            <a href="/products"><figure><img src="/images/products/urbana-4.png" alt ="BiKe ruta en oferta"></figure></a>
            <section class="ganga">
            <form method="get"><i class="fa-solid fa-heart heart1" ></i></form>
                <a class="precioff">$2500.33</a>
                <a class="descuentazo">-20%</a>
                <a class="referencia">Referencia</a>
            </section>
        </article>
    </main>

    <!--    **************************************************  CHAT WHATSAPP   ********************************************  -->
    <%- include('./includes/bodywhapp') %>
    <!--    **************************************************  FOOTER   ****************************************************  --> 
    <!--footer-->
        <%- include('./includes/footer') %>
    <!--/footer-->
</body>
</html>
<!--hola :)-->