<!DOCTYPE html>
<html lang="en">

<!--head-->
<%- include('./includes/head') %>
<!--/head-->

<!--    **************************************************   BODY   ****************************************************    -->

<body>
<!--    **************************************************   HEADER   ****************************************************    -->

    <!--header-->
    <%- include('./includes/header') %>
    <!--/header-->

<!--    **************************************************   MAIN   ****************************************************    -->

     <main>         
        <!--SECCIÓN PRINCIPAL HOME OFERTAS-->
        <section class="ofertas">
            <h1 id="offers">  ¡¡ GRANDES OFERTAS!!  </h1>
            <article class="bikeof">
                <a href="/productoDetalle"><figure><img src="/images/ruta-1.png" alt ="BiKe ruta en oferta"></figure></a>
                <section class="ganga">
                    <i class="fa-solid fa-heart heart1" ></i>
                    <p class="precioff">$2500.33</p>
                    <p class="descuentazo">-20%</p>
                    <p class="referencia">Referencia</p>
                </section>
            </article>
            <article class="bikeof">
                <a href="/productoDetalle"><figure><img src="/images/bmx-1.png" alt ="BiKe ruta en oferta"></figure></a>
                <section class="ganga">
                    <i class="fa-solid fa-heart heart1" ></i>
                    <p class="precioff">$2500.33</p>
                    <p class="descuentazo">-20%</p>
                    <p class="referencia">Referencia</p>
                </section>
            </article>
            <article class="bikeof">
                <a href="/productoDetalle"><figure><img src="/images/mtb-1.png" alt ="BiKe ruta en oferta"></figure></a>
                <section class="ganga">
                    <i class="fa-solid fa-heart heart1" ></i>
                    <p class="precioff">$2500.33</p>
                    <p class="descuentazo">-20%</p>
                    <p class="referencia">Referencia</p>
                </section>
            </article>
            <article class="bikeof">
                <a href="/productoDetalle"><figure><img src="/images/urbana-1.png" alt ="BiKe ruta en oferta"></figure></a>
                <section class="ganga">
                    <i class="fa-solid fa-heart heart1" ></i>
                    <p class="precioff">$2500.33</p>
                    <p class="descuentazo">-20%</p>
                    <p class="referencia">Referencia</p>
                </section>
            </article>
        </section>
    </main>

<!--    **************************************************   BANNER   ****************************************************    -->

    <nav class="whapp">
        <a href="/" id="chat">
            <i class="fab fa-whatsapp"></i>
        </a>
    </nav>

<!--    **************************************************   FOOTER   ****************************************************    -->

     <!--footer-->
     <%- include('./includes/footer') %>
     <!--/footer-->

</body>
</html>
<!--hola :)-->