<!DOCTYPE html>
<html lang="en">
<!--    **************************************************   HEAD   ****************************************************    -->
<!--head-->
<%- include('./includes/head') %>
<!--/head-->
<!--    **************************************************   BODY   ****************************************************    -->
<body>
<!--    **************************************************   HEADER   ****************************************************    -->
    <!--header-->
    <%- include('./includes/header') %>
    <!--/header-->
    <!--    **************************************************   MAIN   ****************************************************    -->    
    <main class="seccionlogin">
        <fieldset id="login">
            <nav>
                <img class="logo_login" src="/images/logo_go_bike_cart_y Log.png" alt="logo gobike">
                <form action="login.html" method="get">
                    <fieldset>
                        <fieldset>
                            <p>
                                <input class="ingresotexto" type="text" name="usuario"
                                    placeholder="Nombre de usuario o correo" minlength="4" required>
                            </p>
                            <p>
                                <input class="ingresotexto" type="password" name="contrase単a" placeholder="Contrase単a"
                                    minlength="4" required>
                            </p>
                            <nav><a href="/">
                                    <h4 id="forgotPass">多olvidaste tu contrase単a?</h4>
                                </a></nav>
                            <p>
                                <a href="/"><button class="boton-ingreso" type="submit" name="login"
                                        id="botonLogIngreso">Ingreso</button></a>
                            </p>
                        </fieldset>
                    </fieldset>
                </form>
            </nav>
        </fieldset>
        <fieldset class="login2">
            <h2>Ingresa con tus redes</h2>
            <nav class="cajaiconos">
                <a class="iconosredes" href="/"><i class="fa-brands fa-facebook-square"></i></a>
                <a class="iconosredes" href="/"><i class="fa-brands fa-instagram"></i></a>
                <a class="iconosredes" href="/"><i class="fa-brands fa-google"></i></a>
            </nav>
            <a class="enlacenuevoregistro" href="/register"><button class="nuevoregistro" type="button"
                    id="botonLogNewReg">Nuevo Registro</button></a>
        </fieldset>
    </main>
    <!--    **************************************************  CHAT WHATSAPP   ********************************************  -->
    <%- include('./includes/bodywhapp') %>
    <!--    **************************************************  FOOTER   ****************************************************  --> 
     <!--footer-->
     <%- include('./includes/footer') %>
     <!--/footer-->
</body>
</html>