<!DOCTYPE html>
<html lang="en">
<!--    **************************************************   HEAD   ****************************************************    -->    
<!--head-->
<%- include('./includes/head') %>
<!--/head-->
<!--    **************************************************   BODY   ****************************************************    -->
<body>
<!--    **************************************************   HEADER   ****************************************************    -->
    <!--header-->
    <%- include('./includes/header') %>
    <!--/header-->
    <!--    **************************************************   MAIN   ****************************************************    -->
     <main>         
        <!--SECCIÓN BICICLETAS DE MONTAÑA MTB-->
        <section class="bicicletas">
            <h1 id="mtb">  Bicicletas MTB  </h1>
            <article class="bike">
                <a href="/productoDetalle"><figure><img src="/images/mtb-1.png" alt ="BikeMBT# "></figure></a>
                <section class="descripcion">
                    <i class="fa-solid fa-heart heart2" ></i>
                    <p class="precio">$2500.33</p>
                    <p class="descuento">-20%</p>
                    <p class="marca">Marca</p>
                    <p class="modelo">Modelo</p>
                    <p class="rodada">Rodada</p>
                    <p class="detalle">detalle</p>
                </section>
            </article>
            <article class="bike">
                <a href="/productoDetalle"><figure><img src="/images/mtb-2.png" alt ="BikeMBT# "></figure></a>
                <section class="descripcion">
                    <i class="fa-solid fa-heart heart2" ></i>
                    <p class="precio">$2500.33</p>
                    <p class="descuento">-20%</p>
                    <p class="marca">Marca</p>
                    <p class="modelo">Modelo</p>
                    <p class="rodada">Rodada</p>
                    <p class="detalle">detalle</p>
                </section>
            </article>
            <article class="bike">
                <a href="/productoDetalle"><figure><img src="/images/mtb-3.png" alt ="BikeMBT# "></figure></a>
                <section class="descripcion">
                    <i class="fa-solid fa-heart heart2" ></i>
                    <p class="precio">$2500.33</p>
                    <p class="descuento">-20%</p>
                    <p class="marca">Marca</p>
                    <p class="modelo">Modelo</p>
                    <p class="rodada">Rodada</p>
                    <p class="detalle">detalle</p>
                </section>
            </article>
            <article class="bike">
                <a href="/productoDetalle"><figure><img src="/images/mtb-4.png" alt ="BikeMBT# "></figure></a>
                <section class="descripcion">
                    <i class="fa-solid fa-heart heart2" ></i>
                    <p class="precio">$2500.33</p>
                    <p class="descuento">-20%</p>
                    <p class="marca">Marca</p>
                    <p class="modelo">Modelo</p>
                    <p class="rodada">Rodada</p>
                    <p class="detalle">detalle</p>
                </section>
            </article>
          </section>
    </main>
    <!--    **************************************************  CHAT WHATSAPP   ********************************************  -->
    <%- include('./includes/bodywhapp') %>
    <!--    **************************************************  FOOTER   ****************************************************  --> 
     <!--footer-->
     <%- include('./includes/footer') %>
     <!--/footer-->
</body>
</html>