<!DOCTYPE html>
<html lang="en">
<!--    **************************************************   HEAD   ****************************************************    -->    
<!--head-->
<%- include('./includes/head') %>
<!--/head-->
<!--    **************************************************   BODY   ****************************************************    -->
<body>
<!--    **************************************************   HEADER   ****************************************************    -->
    <!--header-->
    <%- include('./includes/header') %>
    <!--/header-->
    <!--    **************************************************   MAIN   ****************************************************    -->
    <main class="bicicletas">
        <!--SECCIÓN BICICLETAS MTB-->
        <h1 id="mtb">  Bicicletas MTB  </h1>
        <article class="bike">
            <a href="/productoDetalle"><figure><img src="/images/mtb-1.png " alt ="BikeMTBX# "></figure></a>
            <section class="descripcion">
                <form method="get"><i class="fa-solid fa-heart heart2" ></i></form>
                <a class="precio">$2500.33</a>
                <a class="descuento">-20%</a>
                <a class="marca">Marca</a>
                <a class="modelo">Modelo</a>
                <a class="rodada">Rodada</a>
                <a class="detalle">detalle</a>
                </section>
        </article>
        <article class="bike">
            <a href="/productoDetalle"><figure><img src="/images/mtb-2.png " alt ="BikeMTBX# "></figure></a>
            <section class="descripcion">
                <form method="get"><i class="fa-solid fa-heart heart2" ></i></form>
                <a class="precio">$2500.33</a>
                <a class="descuento">-20%</a>
                <a class="marca">Marca</a>
                <a class="modelo">Modelo</a>
                <a class="rodada">Rodada</a>
                <a class="detalle">detalle</a>
            </section>
        </article>
        <article class="bike">
            <a href="/productoDetalle"><figure><img src="/images/mtb-3.png " alt ="BikeMTBX# "></figure></a>
            <section class="descripcion">
                <form method="get"><i class="fa-solid fa-heart heart2" ></i></form>
                <a class="precio">$2500.33</a>
                <a class="descuento">-20%</a>
                <a class="marca">Marca</a>
                <a class="modelo">Modelo</a>
                <a class="rodada">Rodada</a>
                <a class="detalle">detalle</a>
            </section>
        </article>
        <article class="bike">
            <a href="/productoDetalle"><figure><img src="/images/mtb-4.png " alt ="BikeMTBX# "></figure></a>
            <section class="descripcion">
                <form method="get"><i class="fa-solid fa-heart heart2" ></i></form>
                <a class="precio">$2500.33</a>
                <a class="descuento">-20%</a>
                <a class="marca">Marca</a>
                <a class="modelo">Modelo</a>
                <a class="rodada">Rodada</a>
                <a class="detalle">detalle</a>
            </section>
        </article>
    </main>
    <!--    **************************************************  CHAT WHATSAPP   ********************************************  -->
    <%- include('./includes/bodywhapp') %>
    <!--    **************************************************  FOOTER   ****************************************************  --> 
     <!--footer-->
     <%- include('./includes/footer') %>
     <!--/footer-->
</body>
</html>