<!DOCTYPE html>
<html lang="en">
<!--    **************************************************   HEAD   ****************************************************    -->
<!--head-->
<%- include('./includes/head') %>
<!--/head-->
<!--    **************************************************   BODY   ****************************************************    -->
<body>
<!--    **************************************************   HEADER   ****************************************************    -->
    <!--header-->
    <%- include('./includes/header') %>
    <!--/header-->
    <!--    **************************************************   MAIN  ****************************************************    -->
    <main>
        <!--SECCIÓN DETALLE DEL PRODUCTO-->
        <section class="contenedor-padre">
            <section class="contenedor-detalle-producto-1">
                <h2 class="ingresotexto0">BICICLETA XYZ</h2>
                <article class="productoDetalle1">
                    <form>
                        <a href="/carrito"><button type="submit" class="boton-heart3" name="heartdeproductos"><i class="fa-solid fa-heart heart3"></i></button></a>
                    </form>
                    <section>
                        <img src="/images/bmx-1.png" alt="Bicicleta seleccionada">
                    </section>
                    <section class="minis">
                        <figure class="mini1"><img src="/images/bmx-1.png" alt="miniatura bici1"></figure>
                        <figure class="mini2"><img src="/images/bmx-1.png" alt="miniatura bici1"> </figure>
                        <figure class="mini3"><img src="/images/bmx-1.png" alt="miniatura bici1" ></figure>
                    </section>
                    <form>
                        <button type="button" class="stars">
                            <i class="fa-solid fa-star star1"></i>
                            <i class="fa-solid fa-star star2"></i>
                            <i class="fa-solid fa-star star3"></i>
                            <i class="fa-solid fa-star star4"></i>
                            <i class="fa-solid fa-star star5"></i>
                        </button>
                    </form>     
                </article>
            </section>
            <section class="contenedor-detalle-producto-2">
                <article class="detalle-del-poducto-2-1">
                    <h2 class="ingresotexto1"><b>BICICLETA XY</b></h2>
                    <h5 class="ingresotexto2"><b>Referencia xxxxxx</b></h5>
                </article>
                <article class="detalle-del-poducto-2-2">
                    <h3 class="ingresotexto3">DESCRIPCIÓN Y CARACTERÍSTICAS</h3>
                    <br/>
                    <p class="parrafoDescrip1">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum neque voluptates inventore qui maiores consequuntur, repudiandae non? Quos officia corporis doloremque eum magni delectus aliquam minus error, modi similique cum.
                    </p>
                    <br/>
                    <p class="parrafoDescrip2">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum neque voluptates inventore qui maiores consequuntur, repudiandae non? Quos officia corporis doloremque eum magni delectus aliquam minus error, modi similique cum.
                    </p>
                </article>
                <article class="detalle-del-poducto-2-3">
                    <h4 class="ingresotexto4">GARANTÍA DE CALIDAD</h4>
                    <p class="garantiaDescrip">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum neque voluptates inventore qui maiores consequuntur, repudiandae non? Quos officia corporis doloremque eum magni delectus aliquam minus error, modi similique cum.
                    </p>
                    <form class="desplegables">
                        <select class="sizeBike" id="size" name="opcionesTalla">
                            <option class="tallaje" value="0">SIZE:</option>
                            <option class="tallaje" value="1">S</option>
                            <option class="tallaje" value="2">M</option>
                            <option class="tallaje" value="3">L</option>
                          </select>
                          <select class="cantidadesCar" id="cantDetalle" name="opCant">
                            <option class="cantD" value="0">UND:</option>
                            <option class="cantD" value="1">1</option>
                            <option class="cantD" value="2">2</option>
                            <option class="cantD" value="3">3</option>
                            <option class="cantD" value="4">4</option>
                            <option class="cantD" value="5">5</option>
                          </select>
                          <select class="optionColor" id="colorBike" name="color">
                            <option class="opColorBike0" value="0">COLOR:</option>
                            <option class="opColorBike1" value="1">Negro</option>
                            <option class="opColorBike2" value="2">Rojo</option>
                            <option class="opColorBike3" value="3">Azul</option>
                            <option class="opColorBike4" value="4">Silver</option>
                            <option class="opColorBike5" value="5">Neón</option>
                            <option class="opColorBike6" value="6">Blanco</option>
                          </select>
                          <a href="/carrito"><button type="submit" class="boton-canasta" name="agregaralarrito">Agregar al carrito</button></a>
                    </form>
                </article>
            </section>
        </section>
    </main>
    <!--    **************************************************  CHAT WHATSAPP   ********************************************  -->
    <%- include('./includes/bodywhapp') %>
    <!--    **************************************************  FOOTER   ****************************************************  --> 
     <!--footer-->
     <%- include('./includes/footer') %>
     <!--/footer-->
</body>
</html>