<!DOCTYPE html>
<html lang="en">
<!--    **************************************************   HEAD   ****************************************************    -->

<!--head-->
<%- include('./includes/head') %>
<!--/head-->

<!--    **************************************************   BODY   ****************************************************    -->

<body>
<!--    **************************************************   HEADER   ****************************************************    -->

    <!--header-->
    <%- include('./includes/header') %>
    <!--/header-->

<!--    **************************************************   MAIN   ****************************************************    -->

     <main>         
        <!--SECCIÓN BICICLETAS URBANAS-->
        <section class="bicicletas">
            <h1 id="urban">  Bicicletas Urbanas  </h1>
            <article class="bike">
                <a href="/productoDetalle"><figure><img src="/images/urbana-1.png" alt ="BikeUrban#"></figure></a>
                <section class="descripcion">
                    <i class="fa-solid fa-heart heart2" ></i>
                    <p class="precio">$2500.33</p>
                    <p class="descuento">-20%</p>
                    <p class="marca">Marca</p>
                    <p class="modelo">Modelo</p>
                    <p class="rodada">Rodada</p>
                    <p class="detalle">detalle</p>
                </section>
            </article>
            <article class="bike">
                <a href="/productoDetalle"><figure><img src="/images/urbana-2.png" alt ="BikeUrban#"></figure></a>
                <section class="descripcion">
                    <i class="fa-solid fa-heart heart2" ></i>
                    <p class="precio">$2500.33</p>
                    <p class="descuento">-20%</p>
                    <p class="marca">Marca</p>
                    <p class="modelo">Modelo</p>
                    <p class="rodada">Rodada</p>
                    <p class="detalle">detalle</p>
                </section>
            </article>
            <article class="bike">
                <a href="/productoDetalle"><figure><img src="/images/urbana-3.png" alt ="BikeUrban#"></figure></a>
                <section class="descripcion">
                    <i class="fa-solid fa-heart heart2" ></i>
                    <p class="precio">$2500.33</p>
                    <p class="descuento">-20%</p>
                    <p class="marca">Marca</p>
                    <p class="modelo">Modelo</p>
                    <p class="rodada">Rodada</p>
                    <p class="detalle">detalle</p>
                </section>
            </article>
            <article class="bike">
                <a href="/productoDetalle"><figure><img src="/images/urbana-4.png" alt ="BikeUrban#"></figure></a>
                <section class="descripcion">
                    <i class="fa-solid fa-heart heart2" ></i>
                    <p class="precio">$2500.33</p>
                    <p class="descuento">-20%</p>
                    <p class="marca">Marca</p>
                    <p class="modelo">Modelo</p>
                    <p class="rodada">Rodada</p>
                    <p class="detalle">detalle</p>
                </section>
            </article>
          </section>
    </main>

<!--    **************************************************   BANNER   ****************************************************    -->

    <nav class="whapp">
        <a href="/" id="chat">
            <i class="fab fa-whatsapp"></i>
        </a>
    </nav>

<!--    **************************************************   FOOTER   ****************************************************    -->

    <!--footer-->
    <%- include('./includes/footer') %>
    <!--/footer-->

</body>
</html>