/* ********** ANIMACIONES Y TRANSICIONES ********** */
/* BODY */
#chat .fab:hover{
    color: #0BA8A8;
}

/* HEADER */
#opciones1 a:hover{
    color: white;
    background-color: #0BA8A8;
    box-shadow: 0px 0px 8px 0px rgb(255, 255, 255);
}

#lupa:hover{
    color: white;
    background-color: #0BA8A8;
    transform: rotate(-360deg);
}

#tuCuenta:hover, #canasta:hover{
    color:rgba(11, 168, 168,1);
}
/* FOOTER*/
#secfooter .fas:hover{
    color: #9D1B6F;
}

#derechosAutor .fas:hover{
    color: white;
}

.redesFooter a:hover{
    color: white;
}
/* MAIN HOME */
.bikeof:hover { 
    box-shadow: 3px 3px 20px 0px rgba(7, 11,128,.85);
}

.bikeof:hover .referencia , .bikeof:hover .precioff{ 
    display: block;
}
/* MAIN BIKES */
.heart2:hover{
    color: #9D1B6F;
    transform: rotate(-360deg);
}

.bike:hover { 
    box-shadow: 5px 5px 20px 0px rgba(7, 11,128,.85);
}

.bike:hover .modelo, .bike:hover .rodada , .bike:hover .detalle{
    display: block;
}
/* MAIN FORMULARIO LOGIN */
#botonLogIngreso:hover, #botonLogNewReg:hover{
    color: white;
    background-color: rgba(7, 11,128,1);
    box-shadow: 4px 4px 20px 0px rgba(7, 11,128,.5);
}
#forgotPass:hover{
    color: #9D1B6F;
}

.iconosredes:hover {
    color: white;
}

/* MAIN FORMULARIO REGISTER */
#botonReg:hover{
    color: white;
    background-color: rgba(7, 11,128,1);
    box-shadow: 4px 4px 20px 0px rgba(7, 11,128,.5);
}
/* MAIN CARRITO DE COMPRAS */
.borrar:hover{
    color: rgb(157, 27, 11);
    font-size: 25px;
}
.botoncomprar:hover{
    color: white;
    background-color: rgba(7, 11,128,1);
    box-shadow: 4px 4px 20px 0px rgba(7, 11,128,.5);
}
/* MAIN DETALLE DE PRODUCTO */
.boton-canasta:hover{
    color: white;
    background-color: rgba(7, 11,128,1);
    box-shadow: 4px 4px 20px 0px rgba(7, 11,128,.5);
}
