/* **************                   MEDIA QUERIES   HEADER Y FOOTER            ************** */


/*  ********* TABLET *********  */

@media screen and (min-width: 700px){
    /* Header Tablet */
    header{
        font-size: 14px;
    }

    .encabezado{
        justify-content: space-between;  
    }

    #opciones1{
        order: 0;
        justify-content: center;
        width: 80%;
    }

    #opciones1 a{
        width: 15vw;
        height: 3rem;
        align-self: center;
        align-items: center;
    }

    #barraBuscar{
        width: 13rem;
    }

    #lupa{       
        margin: 6px;
        padding: 3px;
    }

    #opciones2 a{
        margin: 6px;
        padding: 3px;
    }

    #tuCuenta, #canasta{
        font-size: 25px;
    }
     /* Footer Tablet */
     #logo2 img{
        margin: 10px 100px;
    }

     #derechosAutor{
        margin: 29px 100px 2px 100px;
    }
}

/*  ********* DESKTOP *********  */
@media screen and (min-width:992px){
    /* Header Desktop */
    header{
        font-size: 15px;
        justify-content: space-between;
    }

    .encabezado{
        display: flex;
    }

    #logo img{
        justify-content: flex-start;
    }

    #opciones1{
        justify-content: space-evenly;
        width: 48vw;
        margin: 1px;
        padding: 3px;
    }

    #opciones1 a{
        width: 9.3vw;
    }

    #buscar{
    justify-content: center;
    align-content: center;
    }

    #barraBuscar{
        width: 12.5rem;
    }

    #lupa{       
        margin: 6px;
        padding: 3px;
    }

    #opciones2{
        width: auto;
        margin-right:21px;
        margin-left:17px;
    }

    #opciones2 a{
        margin: 6px;
        padding: 3px;
    }

    #tuCuenta, #canasta{
        font-size: 30px;
        }

        /* Footer Desktop */
        #secfooter{
            justify-content: space-between;/**/
            }

        #logo2 img{
            padding: 1px;
            margin: 1px;
            margin-left: 3px;
            width: 25vw;
            justify-content: flex-start;
        }

        .opfooter{
            display: flex;
            flex-flow: row wrap;
            width: 25vw;
            align-self: center;
            margin-left: 40px;
            padding-top: 10px;
            justify-content: space-evenly;
        }

        .opfooter2{
            width: 25vw;
            align-self: flex-start;
        }

        #derechosAutor{
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            margin: auto;
            padding: 50px 25% 5px 25%;
        }

    }