<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Etiqueta para configurar media queries-->

    <title>Go Bike</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" /> <!--LINK para acceder a iconos-->
    
    <!-- LINKS  FUENTES DE LA MARCA-->
    <!--Kalam-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Roboto&display=swap" rel="stylesheet">
    <!--Raleway-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Raleway:wght@300&display=swap" rel="stylesheet">
    <!--Roboto-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="./css/styles_header.css">
    <!--Llamo documento en CSS que contiene los estilos definidos -->
    <link rel="stylesheet" href="./css/styles_footer.css">
    <!--Llamo documento en CSS que contiene los estilos definidos -->
    <link rel="stylesheet" href="./css/styles_main.css">
    <!--Llamo documento CSS que contiene los estilos de main home ofertas -->
    <link rel="stylesheet" href="./css/styles_main_bikes.css">
    <!--Llamo documento CSS que contiene los estilos de main categorias de bikes -->
    <link rel="stylesheet" href="./css/styles_body.css">
    <!--Llamo documento CSS que contiene los estilos de body y sus elementos -->
    <link rel="stylesheet" href="./css/styles_login.css">
    <!--Llamo documento CSS que contiene estilos de login -->
    <link rel="stylesheet" href="./css/styles_carrito.css">
    <link rel="stylesheet" href="./css/styles_register.css">
    <link rel="stylesheet" href="./css/styles_producto.css">


    <link rel="stylesheet" href="./css/media_queries_header_y_footer.css">
    <!--Llamo documento CSS que contiene los estilos de media queries de header y footer -->
    <link rel="stylesheet" href="./css/media_queries_form_login.css">
    <!--Llamo documento CSS que contiene los estilos de media queries de formulario login -->
    <link rel="stylesheet" href="./css/media_queries_main_home_y_bikes.css">
    <!--Llamo documento CSS que contiene los estilos de media queries de main home y main bikes -->
    <link rel="stylesheet" href="./css/media_queries_form_producto.css">



    <link rel="stylesheet" href="./css/animaciones.css">
    <!--Llamo documento CSS que contiene anamaciones y transiciones -->


    <link rel="stylesheet" href="./css/styles_header.css"> <!--Llamo documento en CSS que contiene los estilos definidos -->
    <link rel="stylesheet" href="./css/styles_footer.css"> <!--Llamo documento en CSS que contiene los estilos definidos -->
    <link rel="stylesheet" href="./css/styles_main.css"> <!--Llamo documento CSS que contiene los estilos de main home ofertas -->
    <link rel="stylesheet" href="./css/styles_main_bikes.css"> <!--Llamo documento CSS que contiene los estilos de main categorias de bikes -->
    <link rel="stylesheet" href="./css/styles_body.css"> <!--Llamo documento CSS que contiene los estilos de body y sus elementos -->
    <link rel="stylesheet" href="./css/styles_login.css"> <!--Llamo documento CSS que contiene estilos de formulario login -->
    <link rel="stylesheet" href="./css/styles_carrito.css"> <!--Llamo documento CSS que contiene estilos de Carrito de compras -->
    <link rel="stylesheet" href="./css/styles_register.css"> <!--Llamo documento CSS que contiene estilos de formulario register -->
    <link rel="stylesheet" href="./css/styles_productoDetalle.css"> <!--Llamo documento CSS que contiene estilos de detalle de Producto -->
   
    <link rel="stylesheet" href="./css/media_queries_header_y_footer.css"> <!--Llamo documento CSS que contiene los estilos de media queries de header y footer -->
    <link rel="stylesheet" href="./css/media_queries_formularios.css"> <!--Llamo documento CSS que contiene los estilos de media queries de formulario login -->
    <link rel="stylesheet" href="./css/media_queries_main_home_y_bikes.css"> <!--Llamo documento CSS que contiene los estilos de media queries de main home y main bikes -->


    <link rel="stylesheet" href="./css/animaciones.css"> <!--Llamo documento CSS que contiene anamaciones y transiciones -->

</head>

<!--    **************************************************   BODY   ****************************************************    -->

<body>
    <!--          HEADER          -->
    <header>
        <section class="encabezado">
            <nav class="goBike">
                <!--LOGO HEADER-->
                <a href="/">
                    <figure id="logo"><img src="/images/logo-gobike-cabecera.png" alt="Logo GoBike"></figure>
                </a>
            </nav>
            <nav id="opciones1">
                <!--Botones con opciones en el header-->
                <a href="/ruta"><b> Bicicletas de Ruta </b></a>
                <a href="/bmx"><b> Bicicletas BMX </b></a>
                <a href = "/mtb"><b> Bicicletas MTB </b></a>
                <a href="/urban"><b> Bicicletas Urbanas </b></a>
            </nav>
            <form id="buscar">
                <!--barra de búsqueda-->
                <input type="search" id="barraBuscar" name="Barra de busqueda"
                    placeholder=" Buscar productos, marcas...">
                <a href="/"><button type="button" id="lupa"><i class="fa-solid fa-magnifying-glass"></i></button></a>
            </form>
            <nav id="opciones2">
                <!--botones con iconos para login y carrito de compras-->
                <a href="/login"><button type="acceso" id="tuCuenta"><i class="fas fa-user"></i></button></a>
                <a href="/carrito"><button type="acceso" id="canasta"><i class="fas fa-shopping-cart"></i></button></a>
            </nav>
        </section>
    </header>
    <!--       MAIN       -->
    <main class="seccioncarrito">
        <section id="carrito1">
            <h1 id="tituloCarrito">Carrito de Compras </h1>
            <img class="logocarrito" src="/images/logo_go_bike_cart_y log.png" alt="logo de gobike">
        </section>
        <section id="carrito2">

            <article class="cajadearticulos">
                <div class="producto">producto</div>
                <img class=" imagenescarrito" src="/images/urbana-1.png" alt="imagen bicicleta">
                <section class="descripcion">
                    <nav class="descrip">rodado        modelo</nav>
                    <nav class="descrip">%OFF        $12345</nav>
                </section>
                <section>
                    <form action="carrito.html" method="get"></form>
                    <select class="cantidad" id="opciones" name="opciones">
                        <option class="opcion" value="1">1</option>
                        <option class="opcion" value="2">2</option>
                        <option class="opcion" value="3">3</option>
                        <option class="opcion" value="4">4</option>
                        <option class="opcion" value="5">5</option>
                      </select>
                    </form>
                    <div class="borrar"><i class="fa-regular fa-trash-can"></i> </div>

                </section>
            </article>
            <article class="cajadearticulos">
                <div class="producto">producto</div>
                <img class=" imagenescarrito" src="/images/mtb-1.png" alt="imagen bicicleta">
                <section class="descripcion">
                    <nav class="descrip">rodado        modelo</nav>
                    <nav class="descrip">%OFF        $12345</nav>
                    
                </section>
                <section>
                    <form action="carrito.html" method="get"></form>
                    <select class="cantidad" id="opciones" name="opciones">
                        <option class="opcion" value="1">1</option>
                        <option class="opcion" value="2">2</option>
                        <option class="opcion" value="3">3</option>
                        <option class="opcion" value="4">4</option>
                        <option class="opcion" value="5">5</option>
                      </select>
                    </form>
                    <div class="borrar"><i class="fa-regular fa-trash-can"></i> </div>

                </section>
            </article>
            <article class="cajadearticulos">
                <div class="producto">producto</div>
                <img class=" imagenescarrito" src="/images/ruta-2.png" alt="imagen bicicleta">
                <section class="descripcion">
                    <nav class="descrip">rodado        modelo</nav>
                    <nav class="descrip">%OFF        $12345</nav>
                </section>
                <section>
                    <form action="carrito.html" method="get"></form>
                    <select class="cantidad" id="opciones" name="opciones">
                        <option class="opcion" value="1">1</option>
                        <option class="opcion" value="2">2</option>
                        <option class="opcion" value="3">3</option>
                        <option class="opcion" value="4">4</option>
                        <option class="opcion" value="5">5</option>
                      </select>
                    </form>
                    <div class="borrar"><i class="fa-regular fa-trash-can"></i> </div>

                </section>
                
            </article>


        </section>

    </main>
    <nav class="whapp">
        <a href="/" id="chat">
            <i class="fab fa-whatsapp"></i>
        </a>
    </nav>
    <!--     FOOTER o pie de página    -->
    <footer>
        <section id="secfooter">

            <nav class="goBike2">
                <!--LOGO FOOTER-->
                <a href="/">
                    <figure id="logo2"><img src="/images/logo-gobike-horizontal.png" alt="Logo Lineal GoBike"></figure>
                </a>
            </nav>
            <section class="opfooter">
                <article class="pagotarjeta">
                    <section id="credit">
                        <a href="/"><i class="fas fa-money-check-alt"></i></a><b> Formas de Pago </b>
                    </section>
                    <p> Con Go Bike Card, puedes pagar desde la comodidad de tu hogar. ¡Y siempre es seguro!</p>
                </article>

                <article class="puntos">
                    <section id="diamond">
                        <a href="/"><i class="fas fa-gem"></i></a><b>Cliente Diamante</b>
                    </section>
                    <p> Solo por estar registrad@ en Go Bike, acumula puntos con tus compras y recibe grandes
                        beneficios.</p>
                </article>

                <article class="protegido">
                    <section id="security">
                        <a href="/"><i class="fas fa-user-shield"></i></a><b>Compras Seguras</b>
                    </section>
                    <p> Go Bike proteje tus compras, conoce nuestra política de reembolso. </p>
                </article>
            </section>

            <section class="opfooter2">
                <article class="novedad">
                    <section id="suscrito">
                        <h4> MANTENTE ENTERADO </h4>
                        <p>Suscríbete para conocer más sobre nuestros productos y promociones exclusivas</p>
                        <span>
                            <a href="/">
                                <b>SUSCRÍBETE A NUESTRA LISTA DE CORREO <i class="fas fa-envelope-open-text"></i></b>
                            </a>
                        </span>
                    </section>
                </article>
                <section class="redesPie">
                    <nav class="redesFooter">
                        <a href="/"><i class="fa-brands fa-facebook-square"></i></a>
                        <a href="/"><i class="fa-brands fa-instagram"></i></a>
                    </nav>
                </section>
            </section>

            <p id="derechosAutor"><i>Copyright © 2022 Made by GoBike ... <i class="fas fa-biking"></i>...</i></p>

        </section>
    </footer>
</body>

</html>