


<header class="encabezado">  
    <nav class="goBike"><!--LOGO HEADER-->
        <a href="/"><figure id="logo"><img src= "/images/logos/logo-gobike-cabecera.png" alt ="Logo GoBike"></figure></a>
    </nav>
    
        
    <nav id="opciones2">
        <% if (!User) { %>
                <form id="buscar"> <!--barra de búsqueda-->
                <input  type="search" id="barraBuscar" name="Barra de busqueda" placeholder=" Buscar productos, marcas..."> 
                <button type="button" id="lupa"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            
             <!--botones con iconos para login y carrito de compras-->
                <a href = "/users/login" type="acceso" class="iconoss"><i class="fas fa-user"></i></a>
                <a href = "/products/" type="acceso" class="iconoss"><i class="fa-solid fa-list"></i></a>
                <% } else if (User && User.isadmin) { %>
                    <a href = "/products/" type="acceso" class="iconoss"><i class="fa-solid fa-list"></i></a>
                    <a href="/products/create" type="acceso" class="iconoss"><i class="fas fa-solid fa-circle-plus"></i></a>
                    <a href="/users/logout" class="iconoss"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                    <% } else { %>
                        <a href = "/products/" type="acceso" class="iconoss"><i class="fa-solid fa-list"></i></a>
                        <a href = "/products/cart" type="acceso" class="iconoss"><i class="fas fa-shopping-cart"></i></a>
                        <a href="/users/logout" class="iconoss"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                <% } %>
    </nav>
</header>







