<header class="encabezado">  
    <nav class="goBike"><!--LOGO HEADER-->
        <a href="/"><figure id="logo"><img src= "/images/logo-gobike-cabecera.png" alt ="Logo GoBike"></figure></a>
    </nav>
    <nav id="opciones1"><!--Botones con opciones en el header-->
        <a href = "/ruta"><b> Bicicletas de Ruta </b></a>
        <a href = "/bmx"><b> Bicicletas BMX </b></a>
        <a href = "/mtb"><b> Bicicletas MTB </b></a>
        <a href = "/urban"><b> Bicicletas Urbanas </b></a>
     </nav>
     <form id="buscar"> <!--barra de búsqueda-->
        <input  type="search" id="barraBuscar" name="Barra de busqueda" placeholder=" Buscar productos, marcas..."> 
        <button type="button" id="lupa"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
    <nav id="opciones2"><!--botones con iconos para login y carrito de compras-->
        <a href = "/login" type="acceso" id="tuCuenta"><i class="fas fa-user"></i></a>
        <a href = "/carrito" type="acceso" id="canasta"><i class="fas fa-shopping-cart"></i></a>
    </nav>
</header>