<!--views/includes/head.ejs-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Etiqueta para configurar media queries-->

    <title>Go Bike</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" /> <!--LINK para acceder a iconos-->
    
    <!-- LINKS  FUENTES DE LA MARCA-->
    <!--Kalam-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Roboto&display=swap" rel="stylesheet">
    <!--Raleway-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Raleway:wght@300&display=swap" rel="stylesheet">
    <!--Roboto-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./css/styles_header.css"> <!--Llmamos documento en CSS que contiene los estilos definidos -->
    <link rel="stylesheet" href="./css/styles_footer.css"> <!--Llmamos documento en CSS que contiene los estilos definidos -->
    <link rel="stylesheet" href="./css/styles_body.css"> <!--Llmamos documento CSS que contiene los estilos de body y sus elementos -->

    <link rel="stylesheet" href="./css/styles_main.css"> <!--Llmamos documento CSS que contiene los estilos de main home ofertas -->
    <link rel="stylesheet" href="./css/styles_main_bikes.css"> <!--Llmamos documento CSS que contiene los estilos de main categorias de bikes -->

    <link rel="stylesheet" href="./css/styles_login.css"> <!--Llmamos documento CSS que contiene estilos de formulario login -->
    <link rel="stylesheet" href="./css/styles_carrito.css"> <!--Llmamos documento CSS que contiene estilos de Carrito de compras -->
    <link rel="stylesheet" href="./css/styles_register.css"> <!--Llmamos documento CSS que contiene estilos de formulario register -->
    <link rel="stylesheet" href="./css/styles_productoDetalle.css"> <!--Llmamos documento CSS que contiene estilos de detalle de Producto -->
   
    <link rel="stylesheet" href="./css/media_queries_header.css"> <!--Llmamos documento CSS que contiene los estilos de media queries de header -->
    <link rel="stylesheet" href="./css/media_queries_footer.css"> <!--Llmamos documento CSS que contiene los estilos de media queries de footer -->
    <link rel="stylesheet" href="./css/media_queries_formularios.css"> <!--Llmamos documento CSS que contiene los estilos de media queries de formulario login -->
    <link rel="stylesheet" href="./css/media_queries_main_home.css"> <!--Llmamos documento CSS que contiene los estilos de media queries de main home -->
    <link rel="stylesheet" href="./css/media_queries_main_bikes.css"> <!--Llmamos documento CSS que contiene los estilos de media queries de main bikes -->
    <link rel="stylesheet" href="./css/media_queries_productoDetalle.css"><!--Llmamos documento CSS que contiene los estilos de media queries de productoDetalle-->
    <link rel="stylesheet" href="./css/media_queries_carrito.css"><!--Llmamos documento CSS que contiene los estilos de media queries de Carrito-->

    <link rel="stylesheet" href="./css/animaciones_header.css"> <!--Llmamos documento CSS que contiene animaciones y transiciones header-->
    <link rel="stylesheet" href="./css/animaciones_body.css"> <!--Llmamos documento CSS que contiene animaciones y transiciones body-->
    <link rel="stylesheet" href="./css/animaciones_footer.css"> <!--Llmamos documento CSS que contiene animaciones y transiciones footer-->
    <link rel="stylesheet" href="./css/animaciones_main_home.css"> <!--Llmamos documento CSS que contiene animaciones y transiciones home-->
    <link rel="stylesheet" href="./css/animaciones_main_bikes.css"> <!--Llmamos documento CSS que contiene animaciones y transiciones main categorías bikes-->
    <link rel="stylesheet" href="./css/animaciones_login.css"> <!--Llmamos documento CSS que contiene animaciones y transiciones login-->
    <link rel="stylesheet" href="./css/animaciones_register.css"> <!--Llmamos documento CSS que contiene animaciones y transiciones register-->
    <link rel="stylesheet" href="./css/animaciones_productoDetalle.css"> <!--Llmamos documento CSS que contiene animaciones y transiciones productoDetalle-->
    <link rel="stylesheet" href="./css/animaciones_carrito.css"> <!--Llmamos documento CSS que contiene animaciones y transiciones Carrito-->

</head>