<!--views/includes/head.ejs-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Etiqueta para configurar media queries-->

    <title>Go Bike</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" /> <!--LINK para acceder a iconos-->
    
    <!-- LINKS  FUENTES DE LA MARCA-->
    <!--Kalam -- Títulos o textos destacados y texto de botones-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Roboto&display=swap" rel="stylesheet">
    <!--Raleway --Cuerpos de texto, titulos y párrafos generales-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Raleway:wght@300&display=swap" rel="stylesheet">
    <!--Roboto --  números, costos-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/styles_header.css"> <!--Llmamos documento en CSS que contiene los estilos definidos -->
    <link rel="stylesheet" href="/css/styles_footer.css"> <!--Llmamos documento en CSS que contiene los estilos definidos -->
    <link rel="stylesheet" href="/css/styles_body.css"> <!--Llmamos documento CSS que contiene los estilos de body y sus elementos -->

    <link rel="stylesheet" href="/css/media_queries_header.css"> <!--Llmamos documento CSS que contiene los estilos de media queries de header -->
    <link rel="stylesheet" href="/css/media_queries_footer.css"> <!--Llmamos documento CSS que contiene los estilos de media queries de footer -->

    <link rel="stylesheet" href="/css/animationes_header.css"> <!--Llmamos documento CSS que contiene animaciones y transiciones header-->
    <link rel="stylesheet" href="/css/animationes_body.css"> <!--Llmamos documento CSS que contiene animaciones y transiciones body-->
    <link rel="stylesheet" href="/css/animationes_footer.css"> <!--Llmamos documento CSS que contiene animaciones y transiciones footer-->

    <% if(styles && styles.length>0){ %>
        <% styles.forEach(css => { %> <!--styles es el nombre del array-->
            <link rel="stylesheet" href="/css/<%= css %>.css"> <!--Llmamos documentos CSS con link dinámico-->
        <% }); %>  
    <%} %> 
    <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
    <script defer src ="/public/scripts/main.js"></script>

</head>