<!DOCTYPE html>
<html lang="en">
<!--    **************************************************  HEAD  ****************************************************  -->
<!--head-->
<%- include('../includes/head') %>
<!--/head-->
<!--    **************************************************  BODY   ***************************************************  -->
<body>
    <!--    **********************************************  HEADER  **************************************************  --> 
    <!--header-->
    <%- include('../includes/header') %>
    <!--/header-->
    <!--    **********************************************  MAIN   **************************************************  --> 
    <main class="bicicletas">
        <!--SECCIÓN CATEGORÍAS DE BICICLETAS-->
        <h1 id="category">  Bicicletas </h1>
        <article class="bike">
            <a href="/productoDetalle"><figure><img src="/images/bmx-1.png " alt ="BikeBMX# "></figure></a>
            <section class="descripcion">
                <form method="get"><i class="fa-solid fa-heart heart2" ></i></form>
                <a class="precio">$2500.33</a>
                <a class="descuento">-20%</a>
                <a class="marca">Marca</a>
                <a class="modelo">Modelo</a>
                <a class="rodada">Rodada</a>
                <a class="detalle">detalle</a>
                </section>
        </article>
        <article class="bike">
            <a href="/productoDetalle"><figure><img src="/images/bmx-2.png " alt ="BikeBMX# "></figure></a>
            <section class="descripcion">
                <form method="get"><i class="fa-solid fa-heart heart2" ></i></form>
                <a class="precio">$2500.33</a>
                <a class="descuento">-20%</a>
                <a class="marca">Marca</a>
                <a class="modelo">Modelo</a>
                <a class="rodada">Rodada</a>
                <a class="detalle">detalle</a>
            </section>
        </article>
        <article class="bike">
            <a href="/productoDetalle"><figure><img src="/images/bmx-3.png " alt ="BikeBMX# "></figure></a>
            <section class="descripcion">
                <form method="get"><i class="fa-solid fa-heart heart2" ></i></form>
                <a class="precio">$2500.33</a>
                <a class="descuento">-20%</a>
                <a class="marca">Marca</a>
                <a class="modelo">Modelo</a>
                <a class="rodada">Rodada</a>
                <a class="detalle">detalle</a>
            </section>
        </article>
        <article class="bike">
            <a href="/productoDetalle"><figure><img src="/images/bmx-4.png " alt ="BikeBMX# "></figure></a>
            <section class="descripcion">
                <form method="get"><i class="fa-solid fa-heart heart2" ></i></form>
                <a class="precio">$2500.33</a>
                <a class="descuento">-20%</a>
                <a class="marca">Marca</a>
                <a class="modelo">Modelo</a>
                <a class="rodada">Rodada</a>
                <a class="detalle">detalle</a>
            </section>
        </article>
    </main>
    <!--    **************************************************  CHAT WHATSAPP   ********************************************  -->
    <%- include('../includes/bodywhapp') %>
    <!--    **************************************************  FOOTER   ****************************************************  --> 
     <!--footer-->
     <%- include('../includes/footer') %>
     <!--/footer-->
</body>
</html>